<!-- Stylesheets -->
<style type="text/css">
        <!--
    {% include '/assets/css/mgrid.css' %}
        -->
    </style>

    <form id="mgrid-form" action="?" method="get">

        <div id="{{id}}" class="mgrid">

            <div class="mgrid-control">

                {% if grid.hasPager == true %}
                <div class="mgrid-pager mgrid-control-opt">
                    <span>Total of 1 register(s) found.</span>
                </div>
                {% endif %}

                {% if grid.hasFilter == true %}
                <div class="mgrid-filter mgrid-control-opt">
                    <button id="mgrid-remove-filter" type="button"><span>Remove Filters</span></button>
                    <button id="mgrid-add-filter" type="button">Apply Filters</button>
                </div>
                {% endif %}

                {% if grid.hasOrdering == true %}
                <div class="mgrid-order mgrid-control-opt">
                    <button id="mgrid-remove-ordering" type="button"><span>Remove Ordering</span></button>
                </div>
                {% endif %}

                {% if grid.hasExport == true %}
                <div class="mgrid-export mgrid-control-opt">
                    <select name="mgrid[export]">
                        <option value="" selected="selected">Format</option>
                        <option value="csv">CSV (Excel)</option>
                        <option value="pdf">PDF</option>
                    </select>
                    <button id="mgrid-export" type="button"><span>Export</span></button>
                </div>
                {% endif %}
                
            </div>
            
            {% if grid.hasMassAction == true %}
            <div class="gMassAction">
                <div class="gSelect">
                    <label for="checkAllGrid" id="checkAllGridLbl">
                        <input name="checkAllGrid" id="checkAllGrid" type="checkbox" class="massaction-check-all" style="float: left; margin-right: 2px;"/><?php echo $this->translate('Check/Uncheck All') ?></label>
                    <span class="massDelimiter">|</span>
                    <span><span class="check-selected-counter">0</span> <?php echo $this->translate('selected') ?></span>
                </div>
                <div class="gAction">
                    <span>Mass Action: </span>
                    <select name="massaction-select">
                        <option value=""></option>
                        <?php foreach ($grid->getMassActions() as $name => $label) : ?>
                            <option value="<?php echo $name ?>"><?php echo $label; ?></option>
                        <?php endforeach; ?>
                    </select>
                    <button type="button" class="massaction-button"><span><?php echo $this->translate('Submit') ?></span></button>
                </div>
                <form class="massaction-form" method="post">
                    <input type="hidden" value="" class="massaction-values"/>
                </form>
            </div>
            {% endif %}

            <table class="mgrid-table {% if attribs['class'] %} {{ attribs['class'] }} {% endif %}">
                {% if attribs['caption'] %} <caption>{{ attribs['caption'] }}</caption> {% endif %}
                
                {% if grid.hasHeaders == true %}
                {% endif %}
                
                <tbody>
                    <tr class="mgrid-table-title">

                        <td colspan="1"></td>

                        <td width=""><a href="/admin/access_user/index?mgrid[colOrder]=companyName&amp;mgrid[dirOrder]=ASC" title="" class="sort"><span>Company</span></a></td>
                        <td width=""><a href="/admin/access_user/index?mgrid[colOrder]=roleName&amp;mgrid[dirOrder]=ASC" title="" class="sort"><span>Role</span></a></td>
                        <td width=""><a href="/admin/access_user/index?mgrid[colOrder]=personName&amp;mgrid[dirOrder]=ASC" title="" class="sort"><span>Name</span></a></td>
                        <td width=""><a href="/admin/access_user/index?mgrid[colOrder]=username&amp;mgrid[dirOrder]=ASC" title="" class="sort"><span>Username</span></a></td>
                        <td width=""><a href="/admin/access_user/index?mgrid[colOrder]=birthday&amp;mgrid[dirOrder]=ASC" title="" class="sort"><span>Birthday</span></a></td>

                    </tr>

                <input type="hidden" name="mgrid[addFilter]" value="1">
                <tr class="mgrid-table-tr-filter">
                    <td colspan="1"></td>
                    <td></td>	
                    <td></td>	
                    <td>
                        <input type="text" name="mgrid[filter][personName]" id="mgrid-filter-personName" value="" class="fieldMgrid" size="">
                    </td>	
                    <td></td>
                    <td></td>	
                </tr>

                <tr class="mgrid-table-tr-rs ">
                    <td class="mgrid-table-tr-opc-row">
                        <div class="mgrid-table-div-opc-row">
                            <ul>
                                <li><span class="mgrid-table-div-opc-img"></span>
                                    <ul class="mgrid-table-div-opc-row-ul-list">
                                        <li><a href="/admin/access_user/edit/id/4" class="" title="Edit" target="_parent"><span class="mgrid-table-div-opc-link-img"></span>Edit</a></li>
                                        <li><a href="/admin/access_user/edit/id/4" class="view" title=View" target="_parent"><span class="mgrid-table-div-opc-link-img"></span>View</a></li>
                                        <li><a href="/admin/access_user/edit/id/4" class="accept" title="Accept" target="_parent"><span class="mgrid-table-div-opc-link-img"></span>Accept</a></li>
                                        <li><a href="/admin/access_user/delete/id/4" class="del" title="Delete" target="_parent"><span class="mgrid-table-div-opc-link-img"></span>Delete</a></li>

                                        <li><a href="/admin/access_user/delete/id/4" class="pdf" title="Delete" target="_parent"><span class="mgrid-table-div-opc-link-img"></span>Pdf</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </td>

                    <td>My Cell Company</td>
                    <td>Administrator</td>
                    <td>Demostration</td>
                    <td>demo@mdnsolutions.com</td>
                    <td></td>

                </tr>
                </tbody>
            </table>
            
            {% if grid.hasPager == true %}
            <div class="mgrid-pager">
                <span>Total of 1 register(s) found.</span>
            </div>
            {% endif %}
            
        </div>
    </form>

    <!-- Javascript -->